{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
    <main class="form-signin w-100 m-auto text-center">
        <div class="container d-flex justify-content-center align-items-center vh-100">
            <div class="col-lg-4 col-md-6">
                <h1 class="h3 mb-3 fw-normal">Reset Your Password</h1>

                {% for flash_message in app.flashes('danger') %}
                    <div class="alert alert-danger">
                        {{ flash_message }}
                    </div>
                {% endfor %}

                {{ form_start(form, {'attr': {'class': 'form'}}) }}

                <div class="form-floating mb-3">
                    {{ form_widget(form.token, {'attr': {'placeholder': 'Enter Reset Token', 'class': 'form-control'}}) }}
                    <label for="token">Enter Reset Token</label>
                    {% if form_errors(form.token) %}
                        <div class="invalid-feedback d-block">
                            {{ form_errors(form.token) }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-floating mb-3">
                    {{ form_widget(form.password, {'attr': {'placeholder': 'New Password', 'class': 'form-control'}}) }}
                    <label for="password">New Password</label>
                    {% if form_errors(form.password) %}
                        <div class="invalid-feedback d-block">
                            {{ form_errors(form.password) }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-floating mb-3">
                    {{ form_widget(form.confirm_password, {'attr': {'placeholder': 'Confirm New Password', 'class': 'form-control'}}) }}
                    <label for="confirm_password">Confirm New Password</label>
                    {% if form_errors(form.confirm_password) %}
                        <div class="invalid-feedback d-block">
                            {{ form_errors(form.confirm_password) }}
                        </div>
                    {% endif %}
                </div>

                <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Reset Password</button>

                {{ form_end(form) }}

                <div class="mb-3 mt-2">
                    <a href="{{ path('forgot_password') }}">Generate a new token</a>
                </div>

                <div class="alert alert-info mt-4">
                    <strong>Generated Token:</strong> {{ token }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
